section.reservation {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 80px;
}

.reservation .container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10%;
    flex: auto;
}

@media (max-width: 1311px) {
    .reservation > .container {
        padding: 0 4%;
    }
}

@media (max-width: 1146px) {
    main > section.reservation > div > form > div {
        justify-content: center;
        gap: 6%;
    }
}

.formContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reservation article {
    padding: 24px 24px 50px 24px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.1);
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 254px;
    gap: 28px;
}

.ant-picker-today-btn, .ant-picker-now-btn {
    display: none;
}

.ant-modal-confirm-btns> .ant-btn {
    width: 92px;
}

.reservation button {
    width: 100%;
}

.reservationInput,
.ant-select-single.ant-select-lg .ant-select-selector,
.ant-input {
    width: 100%;
    font-size: 16px;
    font-family: Plus Jakarta Sans;
    letter-spacing: -0.32px;
    color: #DBDBD7;
    background-color: #484b57;
    border: 0px;
    border-radius: 6px;
    height: 48px;
}

.ant-select-single.ant-select-lg {
    height: 48px;
    background-color: rgb(255, 255, 255, 0);
}

.ant-form-item {
    margin-bottom: 0px;
}

.ant-input:focus,
.ant-input:focus-within,
.ant-select-single.ant-select-lg .ant-select-selector:focus,
.ant-select-single.ant-select-lg .ant-select-selector:focus-within,
.ant-select-single.ant-select-lg:focus,
.ant-select-single.ant-select-lg:focus-within,
span.ant-picker-clear:hover,
.ant-picker .ant-picker-clear {
    box-shadow: none;
    background-color: #52545f;
}

.reservationInput::placeholder,
.ant-picker .ant-picker-input >input::placeholder,
.ant-select .ant-select-selection-placeholder,
.ant-select-single.ant-select-lg.ant-select-open .ant-select-selection-item {
    color: rgb(219, 219, 215, 0.5);
}

.ant-picker .ant-picker-input > input {
    color: #DBDBD7;
}

.reservationInput:focus,
.reservationInput:focus-within {
    box-shadow: none;
    background-color: rgb(255, 255, 255, 0.12);
}

.ant-input-group .ant-input-group-addon {
    border: 0px;
}

.calendar, .ant-picker-dropdown .ant-picker-panel-container, .ant-select-dropdown {
    background-color: #454750;
    border-radius: 6px;
}

.ant-picker-panel:first-child {
    width: 300px;
}

.ant-picker-dropdown .ant-picker-cell-disabled.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color: rgb(219, 219, 215, 0.5);
}

.ant-picker-dropdown .ant-picker-content th {
    color: #ffffff;
}

.ant-picker-dropdown .ant-picker-header-view button:hover {
    color:#b0334a;
}

.ant-picker:not(.ant-picker-disabled):not([disabled]).ant-picker-status-error {
    background-color: rgb(255, 255, 255, 0.1);
}

.ant-btn.ant-btn-sm,
.ant-btn-primary {
    border-radius: 50px;
    padding: 6px 20px;
    height: 38px;
}

.ant-btn-primary {
    background-color: #b0334a;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: #962b41;
}
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
    background-color: #962b41;
    transform: scale(94%);
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    background-color: #b0334a;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-active.ant-select-item-option-selected,
.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
    background-color: rgb(219, 219, 215, 0.2);
    border-radius: 4px;
}

.ant-picker-dropdown .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 50px;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    border-radius: 50px;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-active:hover {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 4px;
}

.ant-select-item.ant-select-item-option.ant-select-item-option {
    line-height: 260%;
}

.ant-form-item .ant-form-item-label > label {
    color: #DBDBD7;
}

.ant-picker-dropdown .ant-picker-time-panel-column >li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
    color: #DBDBD7;
}

.ant-picker-dropdown .ant-picker-time-panel-column >li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
    background-color: rgb(219, 219, 215, 0.2);
}

.ant-picker-dropdown .ant-picker-time-panel-column >li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner:hover {
    background-color: rgb(255, 255, 255, 0.05);
}


.ant-form-item-explain-error {
    position: absolute;
    bottom: -22px;
    left: 10px;
}

.ant-alert-error {
    background-color: rgba(157, 0, 42, 0.3);
    margin-bottom: 20px;
}

.modalContent {
    padding-left: 24px;
    padding-right: 24px;
}
.modalContent p,
.modalContent  p > b {
    color:#454750;
}

.modalContent p > b {
    font-size: 18px;
}

.modalContent p {
    font-size: 16px;
}

div.ant-modal-confirm-body > div > div > div > h4 {
    color: #1d2f21;
}

.modalContent span {
    font-size: 16px;
    font-weight: 400;
    color:#047913;
}

.modalContent > h3 {
    font-size: 28px;
    font-weight: 600;
    color: #0c892b;
    padding-top: 10px;
}

.modalContentError > h3 {
    color: #b0334a;
}

.modalContent h4 {
    font-size: 18px;
}

div.ant-modal-confirm-body > span {
    display: none;
}

#reservation > div > form > button {
    font-family: DM Sans;
    font-size: 16px;
    height: 50px;
    text-align: center;
    color: #e3e3e3;
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px solid;
    border-color: #B0334B;
    transition: all 0.5s ease-out;
    outline: none;
    background-color: #B0334B;
}

#reservation > div > form > button:active:not(:disabled) {
    transform: scale(98%);
}

.ant-btn-default:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.ant-picker.ant-picker-disabled {
    background-color: #484b57;
}

.ant-notification-notice-message {
    font-weight: 600;
}

.timePopup {
    width: 88px;
}

.ant-picker-time-panel-cell-inner::after {
    content: ':00';
}

.ant-picker-dropdown .ant-picker-time-panel-column >li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
    width: 72px;
}

.anticon,
.ant-picker-prev-icon,
.ant-picker-next-icon,
.ant-picker-super-prev-icon,
.ant-picker-super-next-icon,
.ant-picker-cell-inner,
.ant-btn:disabled,
.ant-picker-header-view > button.ant-picker-month-btn,
.ant-picker-header-view > button.ant-picker-year-btn,
.ant-picker-header-view > button.ant-picker-decade-btn,
.ant-select-item-option-content {
    color:#DBDBD7;
}

.ant-picker-dropdown .ant-picker-cell-disabled > .ant-picker-cell-inner {
    color: #828282;
}