.heroContainer {
    margin-bottom: 20px;
}

.mainHero {
    margin: 0;
    background: 
        linear-gradient(180deg, rgba(66, 65, 65, 0.00) 62%, #424241 100%),
        url(./assets/herobg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mainHero > article {
    max-width: 1080px;
    margin: 0 auto;
    flex: auto;
    padding: 0 10%;
}

@media (max-width: 1311px) {
    .mainHero > article, main .aboutHero > article {
        padding: 0 4%;
    }
}

@media (max-width: 992px) {
    section.aboutHero {
        background: 
        linear-gradient(180deg, #1D202F 0%, rgba(29, 32, 47, 0.00) 100%),
        url(./assets/aboutbg.png);
        background-size: cover;
    }
}

.mainHero > article > .heroContainer {
    max-width: 612px;
}

.animationHero {
    opacity: 0;
    animation: fadeIn 3s ease forwards;
}

.mainHero h1 {
    animation-delay: 0s;
}

.mainHero > article > .heroContainer > span {
    animation-delay: 0.3s;
}

.mainHero p {
    animation-delay: 0.6s;
}

.mainHero button {
    opacity: 0;
    animation: fadeIn 3s ease forwards;
    animation-delay: 0.9s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.mainHero span, .aboutHero span {
    font-size: 22px;
    font-family: DM Sans;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.15px;
}

@media (max-width: 576px) {
    .mainHero span, .aboutHero span {
        font-size: 20px;
    }
}

.mainHero p, .aboutHero p {
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    margin: 24px 0;
}

.aboutHero {
    margin: 0;
    background: 
        linear-gradient(180deg, #1D202F 0%, rgba(29, 32, 47, 0.00) 36%),
        url(./assets/aboutbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 780px;
    display: flex;
    align-items: center;
}

.aboutHero > article {
    max-width: 1080px;
    margin: 0 auto 40px auto;
    flex: auto;
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
}

.aboutHero > article > .heroContainer {
    max-width: 720px;
}