section.specials {
    margin: 0;
    background: linear-gradient(180deg, #434241 0%, rgba(67, 66, 65, 0.00) 100%);
    padding-bottom: 40px;
}

.specials > .container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10%;
}

@media (max-width: 1311px) {
    .specials > .container {
        padding: 0 4%;
    }
}

@media (max-width: 1146px) {
    main .specials > .container > div {
        justify-content: center;
        gap: 6%;
    }
    article.specialCard {
        margin-bottom: 6%;
    }
}

.specials > .container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.specialCard {
    background-color: rgb(255, 255, 255, 0.1);
    width: 300px;
    border-radius: 8px;
    padding: 24px 24px 40px 24px;
    margin-bottom: 20px;
    transition: transform 0.5s;
}

.specialCard:hover {
    transform: scale(104%);
}

.special article img {
    border-radius: 6px;
}

.specialCard p {
    display: -webkit-box; /* For webkit-based browsers */
    display: -moz-box; /* For Firefox */
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Limit the number of displayed lines */
    -moz-line-clamp: 2; /* For Firefox */
    max-height: 48px;
    line-height: 24px;
    font-family: DM Sans;
    font-size: 16px;
}

.specialFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.specialFooter > span {
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}