@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans');

* {
  font-family: Plus Jakarta Sans;
  color: #DBDBD7;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

a {
  color: #DBDBD7;
  text-decoration: none;
}

p {
  color: #DBDBD7;
  margin: 20px 0px;
}

h1 {
  font-family: DM Sans;
  color: #DBDBD7;
  font-size: 60px;
  font-weight: 700;
  line-height: 76px;
  margin-bottom: 12px;
}

@media (max-width: 576px) {
  h1 {
      font-size: 50px;
      line-height: 62px;
  }
}

h2 {
  color: #DBDBD7;
  font-size: 48px;
  line-height: 150%;
  font-weight: 500;
  padding-top: 80px;
  letter-spacing: -0.5px;
}

@media (max-width: 576px) {
  h2 {
      font-size: 34px;
  }
}

h3 {
  color: #DBDBD7;
  margin-top: 0px;
  margin-left: 10px;
  font-size: 20px;
}

h4 {
  font-family: DM Sans;
  font-size: 20px;
  margin: 10px 0 60px 0;
  font-weight: 400;
}

h5 {
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 400;
  line-height: 22px;
  margin: 32px 0 16px 0;
}